<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TSSPICAConnectionString" connectionString="Data Source=moder2;Initial Catalog=TSSPICA;Persist Security Info=True;User ID=irrs_app;Password=aopadmin10"
      providerName="System.Data.SqlClient" />
    <add name="TSSPICAConnectionString2" connectionString="Data Source=moder2;Initial Catalog=TSSPICA;Persist Security Info=True;User ID=irrs_app;Password=aopadmin10"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=moder2;Persist Security Info=True;User ID=irrs_app;Password=aopadmin10"
      providerName="System.Data.SqlClient" />
    <add name="TSSPICAConnectionString3" connectionString="Data Source=moder2;Initial Catalog=TSSPICA;Persist Security Info=True;User ID=irrs_app;Password=aopadmin10"
      providerName="System.Data.SqlClient" />
    <add name="TSSPICAConnectionString4" connectionString="Data Source=moder2;Initial Catalog=TSSPICA;Persist Security Info=True;User ID=irrs_app;Password=aopadmin10"
      providerName="System.Data.SqlClient" />
    <add name="TSSPICAConnectionString5" connectionString="Data Source=moder2;Initial Catalog=TSSPICA;Persist Security Info=True;User ID=irrs_app;Password=aopadmin10"
      providerName="System.Data.SqlClient" />
    <add name="TSSPICAConnectionString6" connectionString="Data Source=moder2;Initial Catalog=TSSPICA;Persist Security Info=True;User ID=irrs_app;Password=aopadmin10"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>